<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/static/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>indexPage</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>oneFanficPage</servlet-name>
    <jsp-file>/onefanfic.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>UserPage</servlet-name>
    <jsp-file>/user.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>indexPage</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>indexPage</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>oneFanficPage</servlet-name>
    <url-pattern>/fanfic/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UserPage</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>


</web-app>